<%= form_for(@general_count) do |f| %>
  <% if @general_count.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@general_count.errors.count, "error") %> prohibited this general_count from being saved:</h2>

      <ul>
      <% @general_count.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
